%h2 Sponsors

.sponsor-links
  = link_to image_tag('sponsors/netengine.png'), 'http://netengine.com.au/', title: "NetEngine Custom Software. Built for Growth. Built to Adapt. Built for People.", target: "_blank", class: "sponsor-link"

  = link_to image_tag('sponsors/grilld.png'), 'http://www.grilld.com.au/', title: "Grill'd - Healthy Burgers", target: "_blank", class: "sponsor-link"

  = link_to image_tag('sponsors/ninefold.png'), 'http://ninefold.com/', title: "Ruby on Rails App Hosting & Deployment - Ninefold", target: "_blank", class: "sponsor-link"

  = link_to image_tag('sponsors/reddog.png'), 'http://reddog.com.au/', title: "Reddog Technology - Take IT to the next level", target: "_blank", class: "sponsor-link"

  = link_to image_tag('sponsors/aws.png'), 'http://aws.amazon.com/', title: "Amazon Web Services (AWS) -  Cloud Computing Services", target: "_blank", class: "sponsor-link"

  = link_to image_tag('sponsors/dius.png'), 'http://dius.com.au/', title: "Where ideas are engineered - DiUS", target: "_blank", class: "sponsor-link"


